/*colori di background della pagina*/
.ms_bg_dark-blue{
    background-color: #2c3e50;
}

.ms_bg_light-sea-green{
    background-color: #1abc9c;
}

.ms_bg_grayish-blue{
    background-color: #3a546d;
}

/*regole di debug*/
.ms_debug{
    height: 380px;
}

.ms_debug-xs{
    height: 80px;
}

/*regole dell'header*/
.ms_nav-link{
    display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; 
}

.ms_nav-link:hover{
    color: #1abc9c;
}
/*regole del main*/

/*regole del jumbotron*/
#jumbotron{
    padding-top: 100px;
    padding-bottom: 25px;
}

.ms_resize{
    height: 250px;
}


i::after{
    content: "";
    height: 3px;
    width: 60px;
    background-color: #fff;
    position: absolute;
    bottom: 16px;
    transform: translate(14%); 
    border-radius: 2px;
}
/*
i::before{
    content: "";
    height: 3px;
    width: 60px;
    background-color: #fff;
    position: absolute;
    bottom: 16px;
    transform: translate(14%); 
    border-radius: 2px;
}
*/

/*regole del portfolio*/

/*regole del portfolio*/

/*regole dell'about*/
#about{
    height: 460px;
}
/*regole contact*/

/*regole del footer*/


