header{
    height: 80px;
}

.dark-blue{
    background-color: #2c3e50;
}

.light-sea-green{
    background-color: #1abc9c;
}

.grayish-blue{
    background-color: #3a546d;
}
.jumbotron{
    height: 460px;
}

.debug{
    height: 380px;
}

.debug-xs{
    height: 80px;
}