/*colori di background della pagina*/
.ms_bg_dark-blue{
    background-color: #2c3e50;
}

.ms_bg_light-sea-green{
    background-color: #1abc9c;
}

.ms_bg_grayish-blue{
    background-color: #3a546d;
}
/*colori del testo*/

.ms_text-grey{
    color: #333333;
}

/*regole per le stelle*/

.ms_star,
.ms_star-grey{
    font-size: 30px;
}
 .ms_star .bi-star-fill,
 .ms_star-grey .bi-star-fill{
    width: 5%;
    display: inline-block;
    vertical-align: middle;
}

/*stelle bianche*/
.ms_star::after,
.ms_star::before{
    content: "";
    display: inline-block;
    height: 3px;
    width: 10%;
    background-color: #fff;
    border-radius: 4px;
    vertical-align: middle;
}

/*stelle grigie*/

.ms_star-grey::after,
.ms_star-grey::before{
    content: "";
    display: inline-block;
    height: 3px;
    width: 10%;
    background-color: #333333;
    border-radius: 4px;
    vertical-align: middle;
}

/*regole dell'header*/
.ms_nav-link{
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.15s ease-in-out; 
}

.ms_nav-link:hover{
    color: #1abc9c ;
}
/*regole del main*/

/*regole del jumbotron*/
#jumbotron{
    padding-top: 100px;
    padding-bottom: 25px;
}

.ms_resize-img-jumbotron{
    max-width: 250px;
}


/*regole del portfolio*/
.ms_portfolio_item{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.ms_layover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.75);
}

.ms_layover .bi-plus{
    color: #fff;
    font-size: 100px;
}

.ms_portfolio_item:hover .ms_layover{
    display: flex;
}

/*regole dell'about*/

/*regole contact*/
#contact .form-control::placeholder {
    font-size: 20px; 
    color: #333333;
}

.btn-sample { 
    color: #fff; 
    background-color: #1abc9c; 
  } 

.btn-sample:hover { 
    background-color: #075E4D;
    color: #fff;
} 
/*regole del footer*/
.ms_link{
    text-decoration: none;
    color: #1abc9c;
}

.ms_link:hover{
    color: #1abc9c;
    opacity: 0.5;
    text-decoration: underline;
}

